/*CSS reset*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border;
}

/* targets the html element body*/
body
{ 
	/*background-color: skyblue;*/
	/*background-image: url("../images/bg.jpg");*/
	background-image: linear-gradient(rgba(217,93,17,0.75),rgba(0,88,255,0.45)), url("../images/bb.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	height: 100vh;
	color: #f2f2f2; /*off white*/
}
/* this is the end of body styling*/

/*start of h1 styling*/
h1 {
	font-size: 50px;
	background-color: black; 
	text-transform: uppercase;
	margin-bottom:15px;
	letter-spacing: 10px;
	border-radius: 20px;
	font-family: font-family: 'Roboto Condensed', sans-serif;
}
/* end of h1 styling*/

/*start of h2 styling*/
h2{
	color: yellow;
	text-transform: uppercase;
	letter-spacing: 5px;
	margin-bottom: 15px;
	background-color: #333;
	margin: 10px; /*adds space outside of the element*/
	padding: 10px;/*adds space inside the element*/
	border-radius: 10px;
	font-family: font-family: 'Roboto Condensed', sans-serif;
}
/*end of h2 styling*/

/*targets element within the class bio*/
.bio{
	font-family: 'Livvic', sans-serif;
	font-size: 18px;
	background-color: rgba(51,51,51,0.5);
	line-height: 1.75;
}
/*end of class bio*/

/*targets the element with the id me*/
#me{
	height: 200px;
	width:200px;
	border-radius: 50%;
	border-color: white;
	border-width: 5px;
	border-style: solid;
	margin-top: 50px;
	margin-bottom: 25px;
}
/*end of id me*/

/*targets element within the class container*/
.container{
	width: 500px;
	text-align: center;
	margin: 0 auto; /* this will center the element horizontally*/
}

.footer
{
	margin-top: 200px;
	font-family: 'Livvic', sans-serif;
}